//start top-header style
.header__top
	background: #1f3e62
	text-align: center
	color: #fff
	padding: 0.9vw 0
.header__top-phone
	color: $gold 
	font-weight: 700
.header__top-phone:hover 
	color: $gold
//end top-header style

.header--main .header__content
	background: url('../img/main-bg2.jpg')
	background-size: cover
.header__logo-menu-wrapper
	display: flex 
	justify-content: space-between
	align-items: center
.header__logo 
	img
		width: 9vw
.header__content 
	padding-top: 1.2vw
.main-title 
	font-size: 3.682vw
	margin-top: 8vw
	margin-bottom: 1vw
.header__sub-title
	color: #fff
	max-width: 30vw
	margin: 0 auto
	padding-bottom: 6vw
.header-bread-crumbs
	font-size: 1.091vw
	margin-top: 1vw
	a 
		color: #fff
	span 
		padding-left: 1vw 
		padding-right: 1vw


