@import "vars"
@import "fonts"

//start intro section style
.intro 
	padding-top: 9vw
	padding-bottom: 2vw
.intro__img
	width: 100%
.intro__content
	padding-left: 2vw
.intro__list
	margin-top: 2vw
.intro__item
	img
		width: 1.5vw
		height: 1.5vw
.intro__item
	display: flex
	align-items: center
	margin-bottom: 0.909vw
	img 
		margin-right: 1.5vw
//end intro section style


@import "media"
