.review
	background: $blue
	padding: 6vw 0
	.container-fluid 
		width: 73.773vw
		position: relative
	
.swiper-slide,
.review__item
	padding: 1vw
	height: auto
	.wrapper	
		background: #fff
		padding: 2.273vw
		height: 100%
		border-radius: 0.909vw

.swiper-container

.swiper-button-next
	height: 2vw
	width: 2vw
	background: #fff
	color: $blue
	border-radius: 50%
	display: flex 
	justify-content: center 
	align-items: center

.swiper-btn-next,
.swiper-btn-prev
	color: #fff
	height: 2.3vw
	width: 2.3vw
	background: #fff
	display: flex 
	justify-content: center 
	align-items: center
	border-radius: 50%
	outline: none
	img 
		width: 0.409vw
.swiper-btn-next
	position: absolute 
	right: 0
	top: 50%
	transform: translateY(-50%) translateX(100%)
.swiper-btn-prev
	position: absolute 
	left: 0
	top: 50%
	transform: translateY(-50%) translateX(-100%)
.slide-header
	.popular__item-footer-right
		align-items: center
		.stars-wrapper
			position: relative 
			top: -0.1vw
.slide-text
	font-size: 1vw
	padding-top: 2vw
	padding-bottom: 3vw
.slide__footer
	display: flex 
	justify-content: space-between
	align-items: center
.review__author
	font-size: 1vw 
	font-weight: 700 
	text-transform: uppercase
.review__company
	font-size: 0.909vw
.slide__footer-left
	img 
		width: 3.5vw
.review--blue
	background: #f2f5f8
	h2 
		margin-bottom: 3.409vw
	.button 
		text-transform: uppercase
		margin-top: 4vw

.review-page__item
	border: 1px solid #cccccc
	padding: 2vw 2vw 2vw 2vw
.review-page__header
	display: flex 
	justify-content: space-between 
	align-items: center
	padding-bottom: 2.5vw
	.stars-wrapper img
		width: 1.1vw
.review-page__photo
	margin-right: 1.8vw
	img 
		width: 6vw
.review-page__header-left
	display: flex
	align-items: center
.review-page__name
	font-weight: 700
	font-size: 1.8vw
.review-page__item
	margin-bottom: 2.273vw
.popular--border
	border-top: 1px solid #cccccc
.sidebar-review__title
	color: $gold
	text-align: center
	font-size: 2.182vw
	font-weight: 700
	line-height: 1.2
.sidebar-review__item
	p 
		text-align: center
		margin-bottom: 2vw
		margin-top: 1vw
	input,
	textarea,
	.rate-wrapper
		width: 100%
		background: transparent
		border: 1px solid #456387
		margin-bottom: 1.136vw
		padding: 0 1.2vw
		color: #fff
	.rate-title
		padding-bottom: 1.045vw

	.rate-wrapper
		padding-top: 1vw 
		padding-bottom: 1.5vw
		img 
			width: 1.4vw
	textarea 
		padding-top: 0.8vw
		height: 11.364vw
	input 
		height: 3.091vw
	input::placeholder 
		color: #fff
	.button 
		width: 100%
		display: flex 
		justify-content: center 
		align-items: center
		



